### RTK options (2024/04/12 16:42:10)

## Basic Options
dataMode          = 1
rtkFilter         = 1
sppFilter         = 0
saveRawBin        = 1
saveRTKResToFile  = 1
kinematic         = 0
fullfreqs         = 1

## Debug Options
enableLog         = 0
enableTrace       = 0
traceLogPath      = ..\\log\\debug.trace

## TCP Client
ipBase            = 47.114.134.129       # 47.114.134.129
portBase          = 7190                 # 7190
ipRover           = 8.140.46.126
portRover         = 5002                 # 4002

## Rover/Base Station ECEF position(Initial)
basRefPosX        = -2267808.6227
basRefPosY        = 5009324.7699
basRefPosZ        = 3221016.8928
rovRefPosX        = -2267808.6227
rovRefPosY        = 5009324.7699
rovRefPosZ        = 3221016.8928

## Model Parameters
ratioThreshold    = 1.6
elevaThreshold    = 10
hopfdH0           = 0.0
hopfdT0           = 288.16
hopfdp0           = 1013.25
hopfdRH0          = 0.5

## Measurement Noise
CodeNoise         = 4.0
CPNoise           = 0.05

## Process Noise
ReceiverClkBias   = 6e-4                # m; [sppFilter]:: static state: 6e-4, kinematic state: 1.5, SPP
ReceiverClkDrift  = 2e-4                # m; [sppFilter]:: static state: 2e-4, kinematic state: 1.5, SPP
RcvHorizonalBias  = 1e-5                # m; [rtkFilter]:: static state: 1e-5, kinematic state: 1.5
RcvVerticalBias   = 1e-5                # m; [rtkFilter]:: static state: 1e-5, kinematic state: 1.5
AmbiguityBias     = 1e-5                # cycle

## File Paths
pathRoverLogf     = ..\\log\\rtkROVER.oem719.log
pathRoverPosf     = ..\\log\\rtkROVER.oem719.pos

#[kinematic data]
#pathBaseBinf      = ..\\dataset\\xxxx.bin
#pathRoverBinf     = ..\\dataset\\xxxx.bin

#[static data]:: short-baseline
#pathBaseBinf      = ..\\dataset\\xxxx.bin
#pathRoverBinf     = ..\\dataset\\xxxx.bin

#[static data]:: zero-baseline
#pathBaseBinf      = ..\\dataset\\xxxx.bin
#pathRoverBinf     = ..\\dataset\\xxxx.bin

pathBaseBinRTK    = ..\\log\\rtkBASE.oem719
pathRoverBinRTK   = ..\\log\\rtkROVER.oem719
pathRoverLogRTK   = ..\\log\\rtkROVER.oem719.log
pathRoverPosRTK   = ..\\log\\rtkROVER.oem719.pos

### end [The last line of the configuration file must include an empty line.]
